@using webproject.Models
@model List<Yazı>

@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/templateLayout.cshtml";
}



<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">YAZILAR</h2>
            
        </div>
        <div class="row">

            @foreach (var x in Model)
            {
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link"  href="/AnaSayfa/Getir/@x.Yid">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>

                            <img class="img-fluid" src="@x.resmi" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@x.YaziAdi</div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>

    
